<div ng-controller="mainMeetCtrl">
    <!--<md-progress-circular md-mode="indeterminate" ng-hide="load" style="margin:  auto;"></md-progress-circular>-->
    <div style="overflow: hidden">
        <div class="mdl-grid" style="width: 100%; margin-top:0; margin-bottom: 0; padding: 0">
            <!-- Meet img -->
            <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-tablet mdl-cell--4-col-phone img-teaser"
                 style="position:relative; display:table;">
                <img style="width: 100%;" src="../image/meet1.jpg">
                <button class="figcaption mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary mdl-js-ripple-effect">
                    <i class="material-icons">file_download</i>
                </button>
            </div>

            <!-- Meet description and location-->
            <div class="mdl-cell mdl-cell--7-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <div class="accent" style="margin-top: 10px; text-align: center; font-size: 23px; font-weight: 200 ">
                    {{meet.time}}
                </div>
                <div>
                    {{meet.description}}
                </div>
                <div>
                    {{meet.location}}
                </div>
            </div>
        </div>

        <!-- Meet aims
        <ul>
            <p style="margin-top: 30px"></p>
            <li>
                <md-input-container class="md-block" style="margin-bottom: 0; margin-top: 0" md-no-float>
                    <md-icon class="material-icons"></md-icon>
                    <input ng-model="aim" placeholder="aim">
                    <md-icon class="material-icons" style="color:#ef6c00; cursor: pointer"
                             ng-click="createAim()">add
                    </md-icon>
                </md-input-container>
            </li>
            <li class="md-block" style="width: 90%"
                ng-repeat="aim in aims">
                {{aim.value}}
                <md-icon class="material-icons" style="color:#ef6c00; cursor: pointer"
                         ng-click="removeAim(aim)">delete
                </md-icon>
            </li>
        </ul>-->
        <md-divider></md-divider>
        <md-list>
            <md-list-item class="no-hover primarys" style="border: 0">
                <p style="margin-left: 20px;">Tasks</p>
            </md-list-item>
            <md-list-item class="no-hover" style="border-bottom: 0">
                <form name="createNoteForm" ng-submit="createNote()" layout="row" flex
                      style="margin: 0 16px 0 16px">
                    <md-input-container class="md-block" md-no-float flex>
                        <textarea ng-model="note.value" placeholder="Task text" required
                                  rows="5">
                            </textarea>
                    </md-input-container>
                    <md-button class="md-icon-button" style="margin-top: 10px">
                        <i class="material-icons icon accent">
                            add
                        </i>
                    </md-button>
                </form>
            </md-list-item>
            <md-list-item ng-repeat="note in notes track by note.noteId">
                <p ng-bind-html="notes.indexOf(note)+1" style="width: 50px; flex: none; text-align: center"></p>
                <p ng-bind-html="multiLine(note.value)" style="font-size: 16px"></p>
                <md-checkbox class="md-secondary accent">
                </md-checkbox>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-list>
            <md-list-item class="no-hover primary" style="border: 0">
                <p style="margin-left: 20px;">Notes</p>
            </md-list-item>
            <md-list-item class="no-hover" style="border-bottom: 0">
                <form name="createNoteForm" ng-submit="createNote()" layout="row" flex
                      style="margin: 0 16px 0 16px">
                    <md-input-container class="md-block" md-no-float flex>
                        <textarea ng-model="note.value" placeholder="Note text" required
                                  rows="5">
                            </textarea>
                    </md-input-container>
                    <md-button class="md-icon-button" type="submit" style="margin-top: 10px">
                        <i class="material-icons icon accent">
                            add
                        </i>
                    </md-button>
                </form>
            </md-list-item>
            <md-list-item ng-repeat="note in notes track by note.noteId">
                <img ng-src="{{note.user.image.url}}" class="md-avatar">
                <p ng-bind-html="multiLine(note.value)"></p>
                <md-icon class="md-secondary" ng-click="removeNote(note)">
                    <i class="material-icons">
                        delete
                    </i>
                </md-icon>
            </md-list-item>
        </md-list>
    </div>
</div>