<div ng-controller="meetCtrl" ng-cloak>
    <div class="mdl-grid" style="padding: 0;">
        <div class="phone mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-card mdl-shadow--2dp" style="min-height: 0">
                <md-toolbar style="background-color: #2e7d32; height: 50px; min-height: 0">
                    <div class="md-toolbar-tools">
                        <span>
                            <div style="font-size: 16px" ng-bind-html="meet.title"></div>
                            <div style="font-weight: 300; font-size: 12px" ng-bind-html="toDayTime(meet.time)"></div>
                        </span>
                        <span flex></span>
                        <md-button class="md-icon-button"
                                   ng-click="editMeet(meet,$event)">
                            <i class="material-icons icon">
                                edit
                            </i>
                        </md-button>
                        <md-button class="md-icon-button"
                                   ng-click="goBack()">
                            <i class="material-icons icon">
                                exit_to_app</i>
                        </md-button>
                    </div>
                </md-toolbar>
            </div>
        </div>

        <div class="phone left-meet-column mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ">
            <div class="mdl-grid" style="padding: 0; margin: 0">
                <!--Users -->
                <div class="phone mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone no-v-margin">
                    <div class="mdl-card mdl-card mdl-shadow--2dp" ng-controller="rtcController">

                        <md-list>
                            <md-list-item class="no-hover primary" style="border: 0">
                                <p style="margin-left: 20px">Users</p>
                            </md-list-item>
                            <div>
                                <md-list-item>

										<span class="venueUserListItem" ng-show="currentMeetUser.online">
										</span>
                                    <avatar user="currentMeetUser.user"></avatar>
                                    <p>
                                        {{ currentMeetUser.user.firstName + ' ' + currentMeetUser.user.lastName}}
                                    </p>
                                    <md-icon class="md-secondary" ng-click="connect()"
                                             ng-if="currentMeetUser.connected==false">videocam
                                    </md-icon>

                                </md-list-item>
                                <div>
                                    <video id="localVideo" class="chatVideo" autoplay muted></video>
                                </div>
                            </div>
                            <div ng-repeat="meetUser in meetUsers">
                                <md-list-item>

										<span class="venueUserListItem" ng-show="meetUser.online">
										</span>
                                    <avatar user="meetUser.user"></avatar>
                                    <p>
                                        {{ meetUser.user.firstName + ' ' + meetUser.user.lastName}}
                                    </p>
                                    <md-icon class="md-secondary"
                                             ng-if="!isMutedRemoteVideo($index) && meetUser.connected"
                                             ng-click="muteRemoteVideo($index)">mic
                                    </md-icon>
                                    <md-icon class="md-secondary"
                                             ng-if="isMutedRemoteVideo($index) && meetUser.connected"
                                             ng-click="muteRemoteVideo($index)">mic_off
                                    </md-icon>

                                </md-list-item>
                                <div ng-show="meetUser.connected">
                                    <video class="chatVideo" ng-attr-id="{{ 'remoteVideo-' + $index }}" autoplay/>
                                </div>
                            </div>
                        </md-list>
                    </div>
                </div>

                <!--Meet Tasks -->
                <div class="phone mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone no-v-margin">
                    <div class="mdl-card mdl-card mdl-shadow--2dp"
                         style="margin-top: 8px">
                        <md-list>
                            <md-list-item class="no-hover primary" style="border: 0">
                                <p style="margin-left: 20px">Tasks</p>
                                <md-icon class="md-secondary accent"
                                         ng-click="createTask($event)">
                                    add
                                </md-icon>
                            </md-list-item>

                            <md-list-item ng-repeat="task in tasks track by task.taskId"
                                          ng-mouseover="mouseover=true"
                                          ng-mouseleave="mouseover=false"
                                          ng-click="updateTask(task)"
                                          class="animation"
                                          ng-class="{new:task.isNew}">
                                <p ng-bind-html="(tasks.indexOf(task)+1)+'.'"
                                   style="width: 28px; flex: none; text-align: center"></p>
                                <p ng-bind-html="multiLine(task.value)" style="font-size: 14px"></p>
                                <md-checkbox class="md-secondary accent min"
                                             ng-model="task.checked"
                                             ng-click="updateTask(task)"></md-checkbox>
                                <md-icon class="md-secondary" ng-click="removeTask(task)"
                                         ng-if="mouseover">
                                    delete
                                </md-icon>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>

                <!-- Meet notes -->
                <div class="phone mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone no-v-margin">
                    <div class="mdl-card mdl-card mdl-shadow--2dp"
                         style="margin: 8px 0 0 0 ">
                        <md-list>
                            <md-list-item class="no-hover primary" style="border: 0">
                                <p style="margin-left: 20px">Notes</p>
                                <md-icon class="md-secondary accent"
                                         ng-click="createNote($event)">
                                    note_add
                                </md-icon>
                            </md-list-item>

                            <md-list-item ng-repeat="note in notes track by note.noteId"
                                          ng-mouseover="mouseover=true"
                                          ng-mouseleave="mouseover=false"
                                          class="animation"
                                          ng-class="{new:note.isNew}">
                                <avatar user="note.user">
                                <p ng-bind-html="multiLine(note.value)"></p>
                                <md-icon class="md-secondary" ng-click="removeNote(note)"
                                         ng-show="mouseover">
                                    delete
                                </md-icon>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cards -->
        <div class="phone mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div ng-controller="cardsCtrl">
                <div class="mdl-card mdl-card mdl-shadow--2dp">
                    <md-list>
                        <md-list-item class="no-hover primary" style="border: 0">
                            <p style="margin-left: 20px">Cards</p>
                            <md-icon class="md-secondary accent"
                                     ng-click="createCard()"
                                     ng-if="!newCard">
                                add
                            </md-icon>
                        </md-list-item>
                    </md-list>
                    <!-- Edit card template -->
                    <md-card ng-if="newCard"
                             class="selected">
                        <!-- Header -->
                        <md-card-header>
                            <md-card-avatar>
                                <avatar user="newCard.user"></avatar>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title"
                                      ng-bind-html="newCard.user.firstName + ' ' + newCard.user.lastName"></span>
                                <span class="md-subhead" ng-bind-html="toShortDayTime(newCard.time)"></span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-title>
                            <md-card-title-text>
                                <md-input-container class="md-block" md-no-float>
                                    <input ng-model="newCard.title" type="text" placeholder="Title">
                                </md-input-container>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>
                                <md-input-container class="md-block" md-no-float>
                            <textarea ng-model="newCard.content" type="text" placeholder="Content text">
                                </textarea>
                                </md-input-container>
                            </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="center">
                            <md-switch ng-model="includeFiles">Include files</md-switch>
                        </md-card-actions>
                        <div class="mdl-grid files" style="padding: 4px; margin:0;" ng-show="includeFiles">
                            <div class="mdl-cell mdl-cell--12-col">
                                <upload-file-box file="newCard.image"
                                                 white-space-text="Card main image"
                                                 max-size="5MB"
                                                 format="image/*"
                                                 size="large"
                                                 on-delete="onCardImageDelete">
                                </upload-file-box>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col" ng-repeat="file in newCard.files">
                                <upload-file-box file="file"
                                                 white-space-text="Image or file"
                                                 max-size="5MB"
                                                 format="*"
                                                 size="medium"
                                                 on-delete="onCardFileDelete"
                                                 on-uploaded="onCardFileUploaded">
                                </upload-file-box>
                            </div>
                        </div>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-icon-button"
                                       ng-click="saveCard(newCard)">
                                <md-icon class="icon-min">done</md-icon>
                            </md-button>
                            <md-button class="md-icon-button"
                                       ng-click="deleteCard(newCard)">
                                <md-icon class="icon-min">close</md-icon>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>


                <!-- Card template -->
                <md-card ng-repeat="card in cards | orderBy:'card.time':true track by card.cardId"
                         ng-class="{selected:card.editing, new:card.isNew}"
                         class="animation">

                    <!-- Header -->
                    <md-card-header>
                        <md-card-avatar>
                            <avatar user="card.user"></avatar>
                        </md-card-avatar>
                        <md-card-header-text>
                                <span class="md-title"
                                      ng-bind-html="card.user.firstName + ' ' + card.user.lastName"></span>
                            <span class="md-subhead" ng-bind-html="toTime(card.time)"></span>
                        </md-card-header-text>
                    </md-card-header>

                    <!-- Title -->
                    <md-card-title ng-if="!card.editing && card.title.length">
                        <md-card-title-text>
                            <span class="md-headline" ng-bind-html="card.title"></span>
                        </md-card-title-text>
                    </md-card-title>

                    <md-card-title ng-if="card.editing">
                        <md-card-title-text>
                            <md-input-container class="md-block" md-no-float>
                                <input ng-model="card.title" type="text" placeholder="Title">
                            </md-input-container>
                        </md-card-title-text>
                    </md-card-title>

                    <!-- Content -->
                    <md-card-content ng-if="!card.editing && card.content.length">
                        <p ng-bind-html="multiLine(card.content)"></p>
                    </md-card-content>

                    <md-card-content ng-if="card.editing">
                        <p ng-if="card.editing">
                            <md-input-container class="md-block" md-no-float>
                            <textarea ng-model="card.content" type="text" placeholder="Content text">
                                </textarea>
                            </md-input-container>
                        </p>
                    </md-card-content>


                    <!-- Files -->
                    <div class="mdl-grid" style="padding: 0;margin:0"
                         ng-if="(card.image.original || card.files.length && card.files[0].original) && !card.editing">
                        <div class="mdl-cell mdl-cell--12-col">
                            <file-box file="card.image"
                                      class="md-card-image"
                                      size="large"
                                      ng-if="card.image.original">
                            </file-box>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone"
                             ng-repeat="file in card.files"
                             ng-if="card.files.length && card.files[0].original">
                            <file-box file="file"
                                      size="medium"></file-box>
                        </div>
                    </div>


                    <div ng-if="card.editing">
                        <div class="mdl-grid files" style="padding: 4px; margin:0;">
                            <div class="mdl-cell mdl-cell--12-col">
                                <upload-file-box file="card.image"
                                                 white-space-text="Card main image"
                                                 max-size="5MB"
                                                 size="large"
                                                 format="image/*"
                                                 on-delete="onCardImageDelete">
                                </upload-file-box>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone"
                                 ng-repeat="file in card.files">
                                <upload-file-box file="file"
                                                 white-space-text="Image or file"
                                                 max-size="5MB"
                                                 format="*"
                                                 size="medium"
                                                 on-delete="onCardFileDelete"
                                                 on-uploaded="onCardFileUploaded">
                                </upload-file-box>
                            </div>
                        </div>
                    </div>


                    <!-- Actions -->
                    <md-card-actions layout="row" layout-align="end center"
                                     ng-if="user.userId == card.user.userId">
                        <md-button class="md-icon-button"
                                   ng-click="editCard(card)"
                                   ng-if="!card.editing || !editingCard">
                            <md-icon class="icon-min">edit</md-icon>
                        </md-button>
                        <md-button class="md-icon-button"
                                   ng-click="saveCard(card)"
                                   ng-if="card.editing">
                            <md-icon class="icon-min">save</md-icon>
                        </md-button>
                        <md-button class="md-icon-button"
                                   ng-click="deleteCard(card, $event)">
                            <md-icon class="icon-min">delete</md-icon>
                        </md-button>
                    </md-card-actions>

                </md-card>
            </div>
        </div>

    </div>
</div>