<div ng-controller="meetCtrl" ng-cloak>
    <div class="mdl-grid" style="padding: 0">
        <div class="phone mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-card mdl-shadow--2dp" style="min-height: 0">
                <md-toolbar style="background-color: #2e7d32; height: 50px; min-height: 0">
                    <div class="md-toolbar-tools">
                        <span>
                            <div style="font-size: 16px" ng-bind-html="meet.title"></div>
                            <div style="font-weight: 300; font-size: 12px" ng-bind-html="meet.time"></div>
                        </span>
                        <span flex></span>
                        <md-button class="md-icon-button">
                            <i class="material-icons icon">
                                edit
                            </i>
                        </md-button>
                        <md-button class="md-icon-button"
                                   ng-click="goBack()">
                            <i class="material-icons icon">
                                exit_to_app</i>
                        </md-button>
                    </div>
                </md-toolbar>
            </div>
        </div>

        <div class="phone mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

            <!--Users -->
            <div class="mdl-card mdl-card mdl-shadow--2dp">
                <md-list>
                    <md-list-item class="no-hover primary" style="border: 0">
                        <p style="margin-left: 20px">Users</p>
                    </md-list-item>
                    <!-- ToDo: users list -->
                </md-list>
            </div>

            <!--Meet Tasks -->
            <div class="mdl-card mdl-card mdl-shadow--2dp"
                 style="margin-top: 8px">
                <md-list>
                    <md-list-item class="no-hover primary" style="border: 0">
                        <p style="margin-left: 20px">Tasks</p>
                        <md-icon class="md-secondary"
                                 ng-click="createTask()">
                            add
                        </md-icon>
                    </md-list-item>

                    <md-list-item ng-repeat="task in tasks track by task.taskId"
                                  ng-mouseover="mouseover=true"
                                  ng-mouseleave="mouseover=false"
                                  ng-click="updateTask(task)">
                        <p ng-bind-html="tasks.indexOf(task)+1"
                           style="width: 50px; flex: none; text-align: center"></p>
                        <p ng-bind-html="multiLine(task.value)" style="font-size: 14px"></p>
                        <md-checkbox class="md-secondary accent"
                                     ng-model="task.checked"
                                     ng-click="updateTask(task)"></md-checkbox>
                        <md-icon class="md-secondary" ng-click="removeTask(task)"
                                 ng-if="mouseover">
                            delete
                        </md-icon>
                    </md-list-item>
                </md-list>
            </div>
        </div>

        <div class="phone mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-card mdl-shadow--2dp">
                <md-list>
                    <md-list-item class="no-hover primary" style="border: 0">
                        <p style="margin-left: 20px">Cards</p>
                        <md-icon class="md-secondary"
                                 ng-click="createCard()">
                            add
                        </md-icon>
                    </md-list-item>
                </md-list>
            </div>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="image/face.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">User</span>
                        <span class="md-subhead">subhead</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="image/group.jpg" class="md-card-image">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">In-card mixed actions</span>
                       <!-- <span class="md-subhead">Reversed</span>-->
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                    <md-card-icon-actions>
                        <md-button class="md-icon-button" aria-label="toggle">
                            <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                        </md-button>
                    </md-card-icon-actions>
                </md-card-actions>
            </md-card>
        </div>

    </div>
</div>