body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #eeeeee;
    color: #424242;
    font-size: 12px;
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s;
}

.home-header {
    width: 100%;
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s;
    position: relative;
}

.home-header img {
    opacity: 1;
    width: 100%;
}

.home-header .title {
    position: absolute;
    text-shadow: 1px 2px 1px rgb(92, 92, 92);
    top: 40px;
    left: 0;
    font-size: 100px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: white;
}

.secondary {
    color: #424242;
}

.secondary-back {
    background-color: #e0e0e0;
}

.primary {
    color: #2e7d32;
}

.accent {
    color: #ef6c00;
}

.mdl-card {
    width: 100%;
    min-height: 0;
}

.icon-min {
    font-size: 18px;
}

.main-ui-view {
    width: 100%;
    height: 100%;
}

.new {
    background-color: #c8e6c9;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

.ng-hide.ng-hide-animate {
    display: none !important;
}

a.mdl-navigation__link {
    color: #2e7d32;
}

.mdl-navigation__link.material-icons {
    margin-right: 10px;
}

.current_meet {
    width: 100%;
    height: 40px;
    color: #ef6c00;
    font-size: 20px;
    font-weight: 300;
    margin: auto;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #fafafa;
}

.current_meet:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.material-icons.mdl-list__item-icon {
    vertical-align: middle;
}

.edit-mode {
    vertical-align: top;
    font-size: 16px !important;
    color: #ef6c00;
    cursor: pointer;
}

.md-button.md-raised.primary {
    background-color: #2e7d32;
    color: #ffffff;
}

.md-button.md-raised.primary:hover {
    background-color: #2e7d32;
}

.md-button.accent {
    background-color: #ef6c00;
    color: #fff;
}

.md-button.md-fab.accent:hover {
    background-color: #ef6c00;
}

md-input-container.md-block {
    margin-top: 12px;
    margin-bottom: 12px;
}

md-input-container .md-errors-spacer {
    display: none;
}

table td.label {
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
}

a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: #2e7d32;
    font-weight: 400;
}

a.md-default-theme:not(.md-button), a:not(.md-button):hover {
    text-decoration: underline;
    color: #2e7d32;
}

a {
    text-decoration: none;
    color: #2e7d32;
}

input {
    font-size: 14px;
}

table {
    width: 100%;
    margin: auto;
}

.md-datepicker-input-container {
    margin-left: 0;
    width: 100%;
}

md-datepicker .md-button.md-icon-button {
    display: none;
}

md-toolbar .material-icons {
    font-size: 20px;
}

md-list-item {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

md-list-item .md-avatar.min {
    width: 30px;
    height: 30px;
}

.mdl-grid {
    margin: 0;
    padding: 0;
}

@media (max-width: 480px) {
    .phone {
        margin: 8px 0 0 0;
        padding: 0;
        width: 100%;
    }

    .phone.mdl-cell {
        margin: 8px 0 0 0;
        padding: 0;
        width: 100%;
    }

    .mdl-layout__header-row {
        padding: 0 16px 0 16px;
    }
}

/*@media (min-width: 1025px) {
    header.hide-fullscreen {
        display: none;
    }
}*/

.mdl-card {
    margin: 0;
}

.group-calendar md-toolbar, .group-calendar .md-toolbar-tools {
    height: 40px;
    background-color: #2e7d32;
    min-height: 40px;
}

md-list {
    padding: 0;
}

md-list-item {
    border-bottom: 1px solid #eeeeee;
}

md-list-item .time {
    font-size: 36px;
    font-weight: 200;
    vertical-align: middle;
    line-height: 36px;
}

md-list-item:hover {
    background-color: #eeeeee;
    cursor: pointer;
    border-bottom: 1px solid #ef6c00;
}

md-list-item.no-hover {
    border: 0;
}

md-list-item.no-hover:hover {
    background-color: inherit;
    cursor: inherit;
}

md-checkbox.md-checked ._md-icon {
    background-color: #2e7d32;
}

md-list.md-dense md-list-item.md-3-line .md-list-item-text h4 {
    line-height: inherit;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.chat-box {
    max-height: 100%;
    overflow-y: auto;
}

.chat md-list-item.md-3-line .md-list-item-text h3 {
    font-size: 11px;
}

.chat md-list-item.md-3-line .md-list-item-text h4 {
    font-size: 12px;
}

.img-box {
    position: relative;
}

.img-box .upload {
    display: none;
    position: absolute;
    width: 40px;
    bottom: 10px;
    left: calc(50% - 20px);
    background-color: #ef6c00;
    color: white;
}

.img-box:hover .upload {
    display: block;
}

.md-toolbar-tools .md-button {
    margin-top: 4px;
}

md-card {
    margin: 8px 0 0 0;
}

.drop-box {
    width: 100%;
    height: 200px;
    border: 2px dashed #424242;
}

.drop-box-min {
    width: 100%;
    height: 100px;
    border: 2px dashed #424242;
}

.drop-box .text {
    text-align: center;
    height: 200px;
    vertical-align: middle;
    line-height: 200px;
    color: #424242;
    font-size: 14px;
}

.drop-box-min .text {
    text-align: center;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
    color: #424242;
    font-size: 11px;
}

md-card md-card-title {
    padding-top: 4px;
}

md-card md-card-actions {
    margin: 0;
}

.mdl-grid.files {
    -webkit-transition: all linear 1s;
    transition: all linear 1s;
}

.mdl-grid.files.ng-hide {
    opacity: 0;
}

md-switch.md-checked ._md-thumb
{
    background-color: #2e7d32;
}
md-switch.md-checked ._md-bar
{
    background-color: #c8e6c9;
}

span.venueUserListItem 
{
	position: absolute;
    margin-left: 40px;
    margin-top: 40px;
    width: 7px;
    height: 7px;
    background-color: #2e7d32;
    border-radius: 6px;
}

.chatVideo
{
	 width: 240px; 
	 height:180px;

	 right: 1em; 
	 bottom: 1em; 
	 border: 1px solid #333; 
	 background: #000; 
}