<md-dialog aria-label="Edit group" ng-cloak style="width: 300px; font-size:16px;" xmlns="http://java.sun.com/jsf/html">
    <form ng-submit="save()">
        <md-dialog-content>
            <div layout="column">
                <md-content layout-padding>
                    <div class="mdl-card__title" ng-bind-html="title">
                    </div>
                    <div class="mdl-card__menu">
                        <button type="button" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                                style="bottom: 14px"
                                ng-click="cancel()">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <md-input-container class="md-block" md-no-float>
                        <textarea ng-model="text" type="text" required placeholder="{{placeholder}}" md-autofocus>
                            </textarea>
                    </md-input-container>
                    <div layout="row">
                        <md-button type="submit"
                                   class="md-raised primary"
                                   style="width: 80%;  background-color: #2e7d32; margin: auto; ">
                            Save
                        </md-button>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>