<div ng-controller="groupCalendarCtrl">
    <calendar model="events"
              next-month="nextMonth"
              prev-month="prevMonth"
              day-click="dayClicked">
    </calendar>

    <md-list>
        <md-list-item class="no-hover primary">
            <p style="margin-left: 20px" ng-bind-html="selectedDay.format('DD MMMM YYYY')"></p>
            <md-icon class="md-secondary accent"
                     ng-click="createMeet($event)">
                add
            </md-icon>
        </md-list-item>
        <md-list-item ng-repeat="userMeet in selected track by $index"
                      ng-click="meetClicked(userMeet.meet.meetId)"
                      class="animation"
                      ng-class="{new:!userMeet.viewed}"
                      ng-mouseover="mouseover=true"
                      ng-mouseleave="mouseover=false">
            <img ng-src="{{userMeet.meet.admin.image.url}}" class="md-avatar"/>
            <p style="font-size: 16px;" flex ng-bind-html="userMeet.meet.title"></p>
            <p style="font-size: 16px;" flex ng-bind-html="toTime(userMeet.meet.time)"></p>
            <md-icon class="md-secondary"
                     style="margin-bottom: 3px;"
                     ng-click="deleteMeet(userMeet,$event)"
                     ng-show="mouseover">delete
            </md-icon>
        </md-list-item>
    </md-list>
</div>