<div ng-controller="groupCalendarCtrl">
    <calendar model="events"
              next-month="nextMonth"
              prev-month="prevMonth"
              day-click="dayClicked">
    </calendar>

    <md-list>
        <md-list-item class="no-hover primary">
            <p style="margin-left: 20px" ng-bind-html="selectedDay.format('DD MMMM YYYY')"></p>
            <md-icon class="md-secondary"
                     ng-click="createMeet($event)">
                add
            </md-icon>
        </md-list-item>
        <md-list-item ng-repeat="meet in selected track by meet.meetId"
                      ng-click="meetClicked(meet.meetId)"
                      ng-mouseover="mouseover=true"
                      ng-mouseleave="mouseover=false">
            <img ng-src="{{meet.admin.image.url}}" class="md-avatar"/>
            <p style="font-size: 16px;" flex> {{ meet.title }}</p>
            <p style="font-size: 16px;" flex>
                {{meet.time.format('HH:mm')}}
            </p>
            <md-icon class="md-secondary"
                     style="margin-bottom: 3px;"
                     ng-click="deleteMeet(meet)"
                     ng-show="mouseover">delete
            </md-icon>
        </md-list-item>
    </md-list>
</div>