<div ng-controller="groupCalendarCtrl">
    <calendar model="events"
              change-month="change"
              day-click="dayClicked">
    </calendar>

    <md-list>
        <md-list-item class="no-hover" style="padding-left: 6px; padding-right: 6px;">
            <form name="createMeetForm" ng-submit="createMeet()" layout="row">
                <md-input-container class="md-block" md-no-float flex>
                    <md-icon class="material-icons">title</md-icon>
                    <input ng-model="meet.title" type="text" placeholder="Title" required>
                </md-input-container>
                <md-input-container class="md-block" md-no-float flex>
                    <md-icon class="material-icons">access_time</md-icon>
                    <input ng-model="time" type="time" placeholder="HH:MM" name="time" time required>
                    <div ng-messages="createMeetForm.time.$error"
                         md-auto-hide="false">
                        <div ng-message="timeComplex">
                            HH:MM
                        </div>
                    </div>
                </md-input-container>
                <md-button class="md-fab md-mini md-primary" type="submit"
                           style="margin-top: 20px; margin-bottom: 4px">
                    <md-icon class="material-icons"
                             style="margin-bottom: 3px;"
                             ng-click="createMeet()">add
                    </md-icon>
                </md-button>
            </form>
        </md-list-item>
        <md-list-item ng-repeat="meet in selectedMeets track by meet.meetId">
            <div class="time md-avatar">
                {{meet.time.format('HH:mm') }}
            </div>
            <p style="font-size: 16px; margin-left: 46px;"> {{ meet.title }}</p>
        </md-list-item>
    </md-list>
</div>