<div class="header">
    <i class="fa fa-angle-left material-icons" ng-click="previous()">keyboard_arrow_left</i>
    <span>{{month.format("MMMM  YYYY")}}</span>
    <md-progress-circular md-mode="indeterminate"
                          class="animation md-secondary"
                          ng-if="loading"
                          md-diameter="15"
                          style="position: absolute; left: 78%; top:13px;">
    </md-progress-circular>
    <i class="fa fa-angle-right material-icons" ng-click="next()">keyboard_arrow_right</i>
</div>
<div class="week names">
    <span class="day">Sun</span>
    <span class="day">Mon</span>
    <span class="day">Tue</span>
    <span class="day">Wed</span>
    <span class="day">Thu</span>
    <span class="day">Fri</span>
    <span class="day">Sat</span>
</div>
<div class="week" ng-repeat="week in weeks">
    <span class="day animation"
          ng-class="{ 'today': day.isToday,
                      'different-month': !day.isCurrentMonth,
                      'selected': day.date.isSame(selected),
                      'before': day.isBefore,
                      'not-viewed': day.notViewed}"
          ng-click="select(day)" ng-repeat="day in week.days">
        <span class="event"
              ng-if="day.events.length>0"></span>
        {{day.number}}</span>
</div>
