.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

calendar {
    float: left;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: white;
    width: 100%;
    border: solid 1px #CCC;
    margin-bottom: 10px;
    position: relative;
}

calendar > div.header {
    float: left;
    width: 100%;
    background: #2e7d32;
    height: 40px;
    color: white;
}

calendar > div.header > * {
    height: 40px;
    line-height: 40px !important;
    display: inline-block;
    vertical-align: middle;
}

calendar > div.header > i {
    float: left;
    width: 40px;
    font-size: 1em;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px;
    cursor: pointer;
}

calendar > div.header > i.fa-angle-left {
    text-align: left;
}

calendar > div.header > i.fa-angle-right {
    text-align: right;
    margin-left: -40px;
}

calendar > div.header > span {
    float: left;
    width: 100%;
    text-transform: uppercase;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 50px;
    margin-left: -40px;
    text-align: center;
    padding-right: 40px;
    color: inherit;
}

calendar > div.week {
    float: left;
    width: 100%;
    border-top: solid 1px #CCC;
}

calendar > div.week:first-child {
    border-top: none;
}

calendar > div.week > span.day {
    float: left;
    width: 14.28571429%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 0.86em;
    font-weight:300;
    text-align: center;
    height: 36px;
    line-height: 36px !important;
    display: inline-block;
    vertical-align: middle;
    background: white;
    cursor: pointer;
    color: black;
}

calendar > div.week > span.day > span.event {
    position: absolute;
    margin-left: 18px;
    margin-top: 4px;
    width: 7px;
    height: 7px;
    background-color: #ef6c00;
    border-radius: 6px;
}

calendar > div.week > span.day:hover {
    background-color: #eeeeee;
}

calendar > div.week > span.day:first-child {
    border-left: none;
}

calendar > div.week > span.day.today {
    color: #ef6c00;
    font-weight: 400;
}

calendar > div.week > span.day.different-month {
    color: #C0C0C0;
}

calendar > div.week > span.day.selected {
    background-color: #ffa726;
}

calendar > div.week > span.day.event {
    background: #ef6c00;
    color: #ffffff;
}

calendar > div.week.names > span {
    color: #2e7d32;
}
