<md-toast>
    <img ng-src="{{image}}" style="border-radius: 50%; width:30px; height:30px;margin: 8px 2px 8px 8px"
         class="md-avatar min" ng-if="image"/>
    <md-progress-circular md-mode="indeterminate"
                          md-diameter="20"
                          ng-if="loading" flex></md-progress-circular>
    <span class="md-toast-text" flex> {{message}}</span>
    <md-button ng-click="hide()"
               ng-if="action">
        {{action}}
    </md-button>
    <md-icon ng-click="hide()"
             ng-if="!action"
             style="color:white; cursor: pointer;">
        close
    </md-icon>
</md-toast>

