<md-toast>
    <md-icon style="font-size: 26px; color:white; margin:6px"
             ng-if="error">
        error_outline
    </md-icon>
    <avatar min="true" user="user" ng-if="user"></avatar>
    <md-progress-circular md-mode="indeterminate"
                          md-diameter="20"
                          ng-if="loading" flex></md-progress-circular>
    <span class="md-toast-text" flex ng-if="!url"> {{message}}</span>
    <span class="md-toast-text" flex ng-if="url"><a href="" ng-click="go()" style="color:white"> {{message}}</a></span>
    <md-button ng-click="hide()"
               ng-if="action">
        {{action}}
    </md-button>
    <md-icon ng-click="hide()"
             ng-if="!action"
             style="color:white; cursor: pointer;">
        close
    </md-icon>
</md-toast>

