<div ng-controller="signUpCtrl">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell--4-col-phone">
        </div>
        <div class="phone mdl-cell mdl-cell--6-col mdl-cell--3-col-table mdl-cell--4-col-phone">
            <div layout="column" layout-padding
                 ng-if="!ready">
                <md-button class="g-sign-up-button md-raised" flex
                           ng-click="sSignUp()">
                    Sign up
                </md-button>
                <div flex style="margin: 10px; text-align: center">
                    or
                </div>
                <md-button class="g-sign-up-button md-raised" flex ng-click="gSignUp()">
                    <img src="image/google_icon.png" style="height: 20px; margin-right: 4px">
                    Sign up with Google
                </md-button>
            </div>
            <div class="mdl-card mdl-shadow--2dp"
                 ng-if="ready"
                 style="max-width: 460px; margin-left: auto; margin-right: auto;">
                <div layout="column">
                    <form name="signUpForm" ng-submit="signUp()" ng-controller="signUpFormCtrl">
                        <md-content layout-padding>
                            <div class="mdl-card__title">
                                <img src="/image/google_icon.png" style="width: 30px; margin-right: 6px"
                                     ng-show="provider=='google'">
                                Sign up form
                            </div>
                            <div class="mdl-card__menu">
                                <button type="button"
                                        class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                                        style="bottom: 14px"
                                        ui-sref="home.presentation">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                            <table>
                                <tbody>
                                <!-- First name -->
                                <tr>
                                    <td class="label">First name:</td>
                                    <td>
                                        <md-input-container class="md-block" md-no-float>
                                            <input ng-model="user.firstName" type="text" required
                                                   placeholder="First name" focus-if>
                                        </md-input-container>
                                    </td>
                                </tr>

                                <!-- Last name -->
                                <tr>
                                    <td class="label">Last name:</td>
                                    <td>
                                        <md-input-container class="md-block" md-no-float>
                                            <input ng-model="user.lastName" type="text" required
                                                   placeholder="Last name">
                                        </md-input-container>
                                    </td>
                                </tr>

                                <!-- Email -->
                                <tr>
                                    <td class="label">Email:</td>
                                    <td>
                                        <md-input-container class="md-block" md-no-float>
                                            <input ng-model="user.email" type="email" required placeholder="Email"
                                                   ng-disabled="provider">
                                        </md-input-container>
                                    </td>
                                </tr>


                                <!-- Password -->
                                <tr>
                                    <td class="label">Password:</td>
                                    <td>
                                        <md-input-container class="md-block" md-no-float>
                                            <input ng-model="user.password" type="password" required
                                                   placeholder="Password"
                                                   name="password"
                                                   complex-password>
                                            <div ng-messages="signUpForm.password.$error"
                                                 md-auto-hide="false">
                                                <div ng-message="complexity">
                                                    Too easy.
                                                    <br>
                                                    Use special symbols ($,%,@).
                                                </div>
                                            </div>
                                        </md-input-container>

                                    </td>
                                </tr>

                                <!-- Confirm Password -->
                                <tr>
                                    <td class="label">Confirm <br>password:</td>
                                    <td>
                                        <md-input-container class="md-block" md-no-float>
                                            <input ng-model="password" type="password" required name="c_password"
                                                   placeholder="Confirm password"
                                                   ng-pattern="{{user.password}}">
                                            <div ng-messages="signUpForm.c_password.$error"
                                                 md-auto-hide="false">
                                                <div ng-message="pattern">Passwords must match</div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div layout="row">
                                <md-button type="submit" class="md-raised" ng-hide="loading"
                                           flex style="background-color: #2e7d32; color: #fff;">
                                    Sign up
                                </md-button>
                            </div>

                            <div layout="row" style="margin: auto; width:40px">
                                <md-progress-circular md-mode="indeterminate"
                                                      md-diameter="30"
                                                      ng-if="loading" flex></md-progress-circular>
                            </div>
                            <p style="text-align: center; color:darkred;" ng-show="error.show">
                                {{error.value}}
                            </p>
                        </md-content>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



