<div class="mdl-grid"  style="padding: 0;">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col" style="margin-top: 0;">
        <div class="mdl-card mdl-card mdl-shadow--2dp" style="width: 100%; ">
            <form name="groupForm">
            <!--Group admin -->
            <div>
                <md-input-container class="md-block" flex-gt-xs style="width:45%;">
                <span style="color:#2e7d32;">Group's administrator:</span><br>
                <span>{{group.admin.firstName}}</span>
                </md-input-container>
            </div>
            <!--Group image-->
            <div layout="row" style="height: 300px;">
                <img style="width: 40%; margin: auto" src="../image/group.jpg"/><br>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised" style="width:100%;">
                <i class="material-icons">add</i> new image
            </button>
            <br><br>
            <div layout-gt-xs="row"><!-- Name group -->
            <md-input-container class="md-block" style="width:50%;">
                <label>Name</label>
                <input ng-model = "group.name">
            </md-input-container>

            <!--Status group -->
            <md-input-container class="md-block" style="width:50%;">
                <label>Status</label>
                <input ng-model = "group.status">
            </md-input-container>
            </div>
            <!--Group type and date of foundation-->
            <div layout-gt-xs="row">
                <!--Group type-->
                <md-input-container class="md-block" flex-gt-xs style="width:45%;">
                    <label>Group type</label>
                    <md-select ng-model="group.type.name" id="group_type" style="width: 200px;">
                        <md-option value="Public">
                            Public
                        </md-option>
                        <md-option value="Private">
                            Private
                        </md-option>
                    </md-select>
                </md-input-container>
                <!--Group date -->
                <md-datepicker style="width:51%;"  style="color: darkgreen;" md-placeholder="Enter date" ng-model = "group.createdTime">
                </md-datepicker>
            </div>
            <!-- User's list -->
            <md-input-container class="md-block" flex-gt-xs style="width:45%;">
                Users:
            </md-input-container>
            <ul class="mdl-list">
                <li class="mdl-list__item mdl-list__item--two-line"
                    ng-repeat="(number,item) in group.users" style="margin-left: -20px;!important;">
                     <span class="mdl-list__item-primary-content">
                          <img class="mdl-list__item-avatar" ng-src="{{item.img}}"/>
                          <span>{{item.firstName}}</span>
                     </span>
                    <a class="mdl-list__item-secondary-action" ng-click="removeUser(number)">
                        <i class="material-icons" style="color:#ef6c00">delete</i>
                    </a>
                </li>
            </ul>
            <!--Buttons for cancel, create or update-->
            <div layout="row">
                <div flex>
                    <p style="text-align: center">
                        <button class="mdl-button mdl-js-button mdl-button--raised ">
                            Cancel
                        </button>
                    </p>
                </div>
                <div flex>
                    <p style="text-align: center">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                style="background-color: #2e7d32;">
                            Save
                        </button>
                    </p>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

