<div class="mdl-card mdl-card mdl-shadow--2dp" style="width: 100%; margin: 2px">
    <!-- Group header-->
    <div class="mdl-grid" style="width: 100%; margin-top:0; margin-bottom: 0; padding: 0">

        <!-- Group name and description-->
        <div class="mdl-cell mdl-cell--8-col mdl-cell--5-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-grid" style="padding: 0;">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <div ng-show="!edit_header_mode" style="font-size: 26px; font-weight: 200" ng-mouseover= "header_icon = true;" ng-mouseleave= "header_icon = false;">
                        {{group.name}}
                        <i class="material-icons edit-mode" ng-click="switchHeaderMode(true)" ng-show="header_icon">create</i>
                    </div>
                    <md-input-container  class="md-block" ng-show = "edit_header_mode" style="width:100%;">
                        <label>Name</label>
                        <input ng-blur = "switchHeaderMode(false)" ng-model="group.name">
                    </md-input-container>
                    <div ng-show="!edit_status_mode" class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone"
                         ng-mouseover="status_icon = true;" ng-mouseleave= "status_icon = false;" style="margin-left:0px;">
                        {{group.status}}
                        <i class="material-icons edit-mode" ng-click = "switchStatusMode(true)" ng-show="status_icon">create</i>
                    </div>
                    <md-input-container  class="md-block" ng-show = "edit_status_mode" style="width:100%;">
                        <label>Status</label>
                        <input ng-blur = "switchStatusMode(false)" ng-model = "group.status">
                    </md-input-container>
                </div>
            </div>
        </div>

        <!-- Group logo-->
        <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--4-col-phone imgteaser"
        style="position:relative; display:table;">
            <img style="width: 96%; margin: auto" src="../image/group.jpg" >
            <figcaption>
                <a style="color:white;">
                    <i class="material-icons" style="vertical-align: middle;">image</i> New image
                </a>
            </figcaption>
        </div>
    </div>

    <!-- Current meet-->
    <div class="current_meet">
        <i class="material-icons"
           style=" margin-bottom:4px; line-height: 40px; vertical-align: middle">group</i>
        Current meet
    </div>

    <!-- Group menu-->
    <div class="mdl-grid" style="width: 100%; padding: 0">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <a href="#/group/{{group.groupId}}/meets" style="text-decoration: none;">
                <div class="menu_item">
                    Meets
                </div>
            </a>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <a href="#/group/{{group.groupId}}/files" style="text-decoration: none;">
                <div class="menu_item ">
                    Files
                </div>
            </a>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <a href="#/group/{{group.groupId}}/members" style="text-decoration: none;">
                <div class="menu_item">
                    Members
                </div>
            </a>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <a href="#/group/{{group.groupId}}/chat" style="text-decoration: none;">
                <div class="menu_item">
                    Chat
                </div>
            </a>
        </div>
    </div>
    <md-divider></md-divider>
    <!-- Group content -->
    <ng-include src="'../templates/'+tab+'.html'"></ng-include>
</div>
