<!DOCTYPE html>
<style type="text/css">
    .remoteVideo { height: 70%; margin-top: 5%; background: #000; border: 1px solid #333;}
    #localVideo { width: 20%;  right: 1.1em; bottom: 1em; border: 1px solid #333;  }
    #callButton {  display: none; left: 50%; font-size: 2em; bottom: 5%; border-radius: 1em; }
</style>

<div ng-controller="rtcController">
<div>
	<video id="localVideo" autoplay muted></video>
</div>
<div  ng-repeat="userMeet in userMeets" ng-show="userMeet.online==true">
	<p>{{userMeet.user.firstName}} {{userMeet.user.lastName}}</p>
	<video class="remoteVideo" ng-attr-id="{{ 'remoteVideo-' + $index }}" autoplay></video>
</div>
<div>
<button id="callButton" ng-click="createOffer()">?</button>
</div>
</div>
