<div ng-controller="userCtrl">
    <div class="mdl-layout mdl-js-layout
            mdl-layout--fixed-header">
        <!-- Header -->
        <header class="hide-fullscreen mdl-layout__header  mdl-color--grey-100 mdl-color-text--grey-600 mdl-shadow--2dp">
            <img class="mdl-layout-icon" src="../image/promeets_icon.png" ui-sref="home.presentation"
                 style="cursor: pointer;"/>
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title mdl-layout--large-screen-only">Promeets</span>

                <div class="mdl-layout-spacer">
                </div>
               <!-- <nav class="mdl-navigation">
                    <i class="material-icons" style="color: #ef6c00">notifications</i>
                </nav>-->
             <!--   <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;expandable
                  mdl-textfield&#45;&#45;floating-label mdl-textfield&#45;&#45;align-right">
                    <label class="mdl-button mdl-js-button mdl-button&#45;&#45;icon"
                           for="fixed-header-drawer-exp">

                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="sample"
                               id="fixed-header-drawer-exp">
                    </div>
                </div>-->
            </div>
        </header>
        <!-- Navigation menu -->
        <div class="mdl-layout__drawer" ng-controller="drawerCtrl">
            <header>
                <avatar user="user"></avatar>
                <div class="username" ng-bind-html="fio(user)"></div>
                <div class="email" ng-bind-html="user.email"></div>
            </header>
            <nav class="mdl-navigation">

                <!--Profile -->
                <a class="mdl-navigation__link" href="" ng-click="go('user.profile',{userId:user.userId})">
                    <i class="material-icons">face</i>
                    Profile
                </a>

                <!--Groups -->
                <a class="mdl-navigation__link" href="" ng-click="go('user.groups')">
                    <i class="material-icons icon">group_work</i>
                    Groups
                    <span class="mdl-badge" data-badge="{{invites.length}}" ng-if="invites.length"></span>
                </a>

                <!--Calendar -->
                <a class="mdl-navigation__link" href="" ng-click="go('user.calendar')">
                    <i class="material-icons icon">date_range</i>
                    Calendar
                    <span class="mdl-badge" data-badge="{{newMeets.length}}" ng-if="newMeets.length"></span>
                </a>

                <!--Messages -->
                <a class="mdl-navigation__link" href="" ng-click="go('user.messages')">
                    <i class="material-icons icon">message</i>
                    Messages
                    <span class="mdl-badge" data-badge="{{newMessages.length}}" ng-if="newMessages.length"></span>
                </a>

                <!--Logout -->
                <a class="mdl-navigation__link " href="" ng-click="logout()">
                    <i class="material-icons">exit_to_app</i>
                    Logout
                </a>
            </nav>
        </div>

        <!-- Page body-->
        <main class="mdl-layout__content">
            <div class="page-content" style="margin-top:20px;">

                <div class="mdl-grid">
                    <div class="phone mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    </div>
                    <!-- Content container -->
                    <div class="phone mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                        <div ui-view="body"></div>
                    </div>

                    <!-- Recommendations -->
                    <div class="phone mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                        <div ui-view="left_column"></div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>