<div class="mdl-layout
     mdl-js-layout
     mdl-layout--fixed-header">

    <!-- Header -->
    <header class="mdl-layout__header  mdl-color--grey-100 mdl-color-text--grey-600 mdl-shadow--2dp"
            ng-controller="headerCtrl"
            ng-cloak>

        <div class="mdl-layout__header-row">
            <img class="mdl-layout-icon" src="../image/promeets_icon.png" ui-sref="home.presentation"
                 style="cursor: pointer; width: 40px; height: 40px; margin-right: 10px "/>
            <span class="mdl-layout-title mdl-layout--large-screen-only primary" ui-sref="home.presentation"
                  style="cursor: pointer;">Promeets</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <md-button class="md-raised primary"
                           ng-show="tab=='nav_log'"
                           ui-sref="user.profile">
                    Profile
                </md-button>
                <md-button class="md-raised primary"
                           ng-if="tab!='nav_log'"
                           ui-sref="home.signup">
                    Sign up
                </md-button>
                <md-button class="md-raised primary"
                           ng-if="tab!='nav_log'"
                           ui-sref="home.login">
                    Log in
                </md-button>
            </nav>
        </div>
    </header>

    <!-- Page body-->
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">

                <!-- Content container -->
                <div class="phone mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone"
                     style="margin: 0; width: 100%">
                    <div ui-view="body"></div>
                </div>


            </div>
        </div>

    </main>

</div>