<!-- Search and add button-->
<div style="background-color:#fafafa;">
    <div class="mdl-grid" style="width: 90%;  padding:0 ">
        <div class="mdl-cell mdl-cell--11-col mdl-cell--7-col-tablet mdl-cell--3-col-phone">
            <md-input-container style="width: 100%;margin:0" md-no-float>
                <input placeholder="Search">
            </md-input-container>

        </div>
        <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary mdl-js-ripple-effect"
                    style=" top:10px ">
                <i class="material-icons">file_download</i>
            </button>
        </div>
    </div>
</div>
<md-divider></md-divider>
<p style="text-align: center; margin: 20px; font-weight: 200; font-size: 14px" ;>No files</p>