<div class="mdl-card mdl-shadow--2dp"
     style="max-width: 500px; margin: auto" ng-controller="userCalendarCtrl">
    <p style="text-align: left; font-size: 14px;color:#2e7d32; margin: 10px 0 10px 24px; line-height: 24px">Calendar</p>
    <calendar class="animation"
              model="events"
              next-month="nextMonth"
              prev-month="prevMonth"
              day-click="dayClicked">
    </calendar>
    <md-list>
        <md-list-item class="no-hover primary">
            <p style="margin-left: 20px" ng-bind-html="selectedDay.format('DD MMMM YYYY')"></p>
        </md-list-item>
        <md-list-item ng-repeat="userMeet in selected track by $index"
                      ng-click="meetClicked(userMeet.meet.meetId)"
                      class="md-3-line animation"
                      ng-class="{new:!userMeet.viewed || userMeet.isNew}"
                      ng-mouseover="mouseover=true"
                      ng-mouseleave="mouseover=false">
            <img ng-src="{{userMeet.meet.group.image.small}}" class="md-avatar"/>
            <div class="md-list-item-text" layout="column">
                <h3 ng-bind-html="userMeet.meet.title"></h3>
                <h4 ng-bind-html="userMeet.meet.group.title"></h4>
                <p ng-bind-html="fio(userMeet.meet.admin)"></p>
            </div>
            <p style="font-size: 16px; text-align: right" flex ng-bind-html="toTime(userMeet.meet.time)"></p>
            <md-icon class="md-secondary"
                     style="margin-bottom: 3px;"
                     ng-click="deleteMeet(userMeet,$event)"
                     ng-show="mouseover">delete
            </md-icon>
        </md-list-item>
    </md-list>
</div>