<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
    <title>Promeets</title>

    <meta name="description" content="Promeets. We help you to arrange meetings.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">

    <!-- Material Styles -->
    <link href="/lib/material/material.min.css" type="text/css" rel="stylesheet"/>
    <link href="/lib/material/fonts_icons.css" type="text/css" rel="stylesheet"/>
    <link href="/lib/material/material_fonts.css" type="text/css" rel="stylesheet"/>

    <!-- Angular Material Style  -->
    <link href="/lib/angular_material/angular.material.min.css" type="text/css" rel="stylesheet"/>

    <!-- Style -->
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
</head>

<body ng-controller="appCtrl">
<div class="mdl-layout__container">
    <div ui-view></div>
</div>


<!-- Material Script -->
<script src="/lib/material/material.min.js"></script>

<!-- Angular js -->
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular/angular-resource.min.js"></script>
<script src="/lib/angular/angular-animate.min.js"></script>
<script src="/lib/angular/angular-aria.min.js"></script>
<script src="/lib/angular/angular-route.min.js"></script>
<script src="/lib/angular/angular-messages.min.js"></script>
<script src="/lib/angular/angular-ui-router.min.js"></script>

<!-- Angular Material Script -->
<script src="/lib/angular_material/angular-material.min.js"></script>

<!-- App context -->
<script src="/js/app_controller.js"></script>
<script src="/js/header_controller.js"></script>
<script src="/js/drawer_controller.js"></script>
<script src="/js/home_controller.js"></script>
<script src="/js/login_controller.js"></script>
<script src="/js/signup_controller.js"></script>
<script src="/js/group_controller.js"></script>
<script src="/js/meet_controller.js"></script>


</body>
</html>