<md-dialog aria-label="Edit group" ng-cloak style="width: 300px; font-size:16px;" xmlns="http://java.sun.com/jsf/html">
    <form name="createMeetForm" ng-submit="save()">
        <md-dialog-content>
            <div layout="column">
                <md-content layout-padding>
                    <div class="mdl-card__title">
                        {{title}}
                    </div>
                    <div class="mdl-card__menu">
                        <button type="button" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                                style="bottom: 14px"
                                ng-click="cancel()">
                            <i class="material-icons">close</i>
                        </button>
                    </div>

                    <table>
                        <tbody>

                        <!-- Title -->
                        <tr>
                            <td class="label">Title:</td>
                            <td>
                                <md-input-container class="md-block" md-no-float>
                                    <input ng-model="meet.title" type="text" placeholder="Title" required
                                           md-autofocus>
                                </md-input-container>
                            </td>
                        </tr>


                        <!-- Date -->
                        <tr>
                            <td class="label">Date:</td>
                            <td>
                                <md-input-container class="md-block" md-no-float>
                                    <input ng-model="date" type="date" placeholder="Date" required>
                                </md-input-container>
                            </td>
                        </tr>

                        <!-- Time -->
                        <tr>
                            <td class="label">Time:</td>
                            <td>
                                <md-input-container class="md-block" md-no-float>
                                    <input ng-model="time" type="time" placeholder="HH:MM" name="time" time required>
                                    <div ng-messages="createMeetForm.time.$error"
                                         md-auto-hide="false">
                                        <div ng-message="timeComplex">
                                            HH:MM
                                        </div>
                                    </div>
                                </md-input-container>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div layout="row">
                        <md-button type="submit"
                                   class="md-raised primary"
                                   flex>
                            {{action}}
                        </md-button>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>