<md-dialog ng-cloak xmlns="http://java.sun.com/jsf/html"
           id="container">
    <md-icon style="position: absolute; top:10px; right: 10px; color:black; cursor: pointer"

             ng-click="cancel()">
        close
    </md-icon>
    <img src="{{url}}" id="image" style="max-width: 100%; max-height: 100%;"/>
</md-dialog>
<script>
    var container = $('#dialogContent_container');
    var image = $('#image');
    var win = $(window);
    win.resize(function () {
        fitImage();
    });

    image.on('load', function () {
        fitImage();
    });

    var fitImage = function () {
        container.css({
            height: image.height() > win.height() * 0.8 ?
            win.height() * 0.8 : image.height()
        });
    }
</script>