<a ng-click="go(user.userId)" class="avatar-container" ng-class="{min:min}" ng-cloak >
    <img ng-src="{{user.image.small}}" class="avatar"
         ng-class="{min:min}" ng-if="user.image.original"/>
    <div class="avatar empty"
         ng-class="{min:min}"
         ng-if="!user.image.original">{{user.firstName[0]}}
    </div>
    <div class="online" ng-if="online" ng-class="{min:min}"></div>
    <md-tooltip md-direction="bottom">
        {{user.firstName+' '+user.lastName}}
    </md-tooltip>
</a>