<style>

    .avatar
    {
        width: 40px;
        height: 40px;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 16px;
        border-radius: 50%;
        box-sizing: content-box;
    }

    .avatar.min {
        width: 30px;
        height: 30px;
    }

    .avatar.empty {
        border: 1px solid white;
        background-color: #2e7d32;
        color: white;
        font-size: 26px;
        font-weight: 200;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
    }

    .empty.min {
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }
</style>
<a ng-click="go(user.userId)" href="" ng-cloak>
    <img ng-src="{{user.image.small}}" class="avatar"
         ng-class="{min:min}" ng-if="user.image.original"/>
    <div class="avatar empty"
         ng-class="{min:min}"
         ng-if="!user.image.original">{{user.firstName[0]}}
    </div>
    <md-tooltip md-direction="bottom">
        {{user.firstName+' '+user.lastName}}
    </md-tooltip>
</a>