<div layout="column">
    <md-toolbar style="background-color: #ffffff; height: 45px; min-height: 0">
        <div class="md-toolbar-tools">
            <span ng-show="selected && selected.type=='text'">
                <input ng-model="text" class="tool" type="text">
            </span>
            <span flex></span>
            <md-menu md-position-mode="target-right target">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <i class="material-icons icon accent">
                        add
                    </i>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item ng-repeat="item in ['Text', 'Image', 'Shape','Link']">
                        <md-button ng-click="announceClick($index)">
                            <div layout="row" flex>
                                <p flex>{{item}}</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-progress-circular md-mode="indeterminate"
                                  ng-show="brLoading"
                                  md-diameter="15"
                                  style="position: absolute; top:15px; right: 73px"></md-progress-circular>
            <md-button class="md-icon-button"
                       ng-click="save()">
                <i class="material-icons icon accent"
                   ng-hide="brLoading">
                    save
                </i>
            </md-button>
            <md-button class="md-icon-button">
                <i class="material-icons icon accent">
                    fullscreen
                </i>
            </md-button>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <canvas id="board" class="board"></canvas>
</div>
