<div class="mdl-grid">
    <div class="phone mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone"
         ng-repeat="file in files | orderBy: file.time : true | fileFormat:format">
        <div class="s-box">
            <file-box file="file"
                      disabled="true"
                      size="medium"
                      ng-click="clicked(file)">
            </file-box>
            <md-icon class="delete" ng-click="delete(file)">
                cancel
             <!--   <md-tooltip md-direction="right">
                    Delete
                </md-tooltip>-->
            </md-icon>
        </div>
        <p class="s-time" ng-bind-html="toDayTime(file.time)"></p>
    </div>
    <div class="temp-box" ng-if="!files.length">
        <md-progress-circular md-mode="indeterminate"
                              class="loading"
                              md-diameter="30"
                              ng-if="loading"
                              style=""></md-progress-circular>
        <span ng-if="!loading">No files.</span>
    </div>
</div>