<div ng-controller="groupMainCtrl" ng-cloak>
    <!-- Group header-->
    <div class="mdl-grid" style="width: 100%; margin-top:0; margin-bottom: 0; padding: 0">

        <!-- Group name and description-->
        <div class="mdl-cell mdl-cell--7-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div style="margin:10px 0 0 10px">
                {{group.status}}
            </div>
        </div>

        <!-- Group logo-->
        <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-tablet mdl-cell--4-col-phone img-teaser">
            <upload-file-box file="group.image"
                             white-space-text="Group image"
                             max-size="5MB"
                             format="image/*"
                             on-delete="onGroupImageDelete"
                             size="medium">
            </upload-file-box>

        </div>
    </div>
    <!-- Current meet-->
    <md-divider></md-divider>
    <div layout="row">
        <div class="current_meet">
            <i class="material-icons"
               style=" margin-bottom:4px; line-height: 40px; vertical-align: middle">group</i>
            Current meet
        </div>
    </div>
    <md-divider></md-divider>

    <!-- Members -->
    <md-list>
        <md-list-item class="no-hover primary">
            <p style="margin-left: 20px">Members ({{users.length}})</p>
            <md-icon class="md-secondary accent"
                     ng-click="invite()">
                person_add
            </md-icon>
        </md-list-item>
        <md-list-item ng-repeat="user in users track by user.userId">
            <avatar user="user"></avatar>
            <p ng-bind-html="fio(user)"></p>
        </md-list-item>
    </md-list>

    <!-- Invited users -->
    <md-list ng-if="invited.length">
        <md-list-item class="no-hover primary">
            <p style="margin-left: 20px">Invited users ({{invited.length}})</p>
            <md-icon class="md-secondary accent"
                     ng-click="showInvited()"
                     ng-if="!show">
                arrow_drop_down
            </md-icon>
            <md-icon class="md-secondary accent"
                     ng-click="showInvited()"
                     ng-if="show">
                arrow_drop_up
            </md-icon>
        </md-list-item>
        <md-list-item ng-repeat="invite in invited track by invite.user.userId"
                      ng-if="show"
                      class="md-2-line animate">
            <avatar user="invite.user"></avatar>
            <div class="md-list-item-text" layout="column">
                <h3>{{fio(invite.user)}}</h3>
                <p>by {{fio(invite.inviter)}}</p>
            </div>
        </md-list-item>
    </md-list>
</div>