<div ng-controller="groupCtrl" ng-cloak>
    <div class="mdl-grid" style="padding: 0">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--4-col-phone">
        </div>
        <div class="phone mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--4-col-phone" style="margin-top: 0">


            <div class="mdl-card mdl-card mdl-shadow--2dp" style="width: 100%;">
                <md-toolbar style="background-color: #2e7d32;">
                    <div class="md-toolbar-tools">
                        <span style="font-weight: 200; font-size: 26px">{{group.title}}</span>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="editGroup()">
                            <i class="material-icons icon">
                                edit
                            </i>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Settings">
                            <i class="material-icons icon">
                                exit_to_app</i>
                        </md-button>
                    </div>
                </md-toolbar>

                <!-- Group elements menu-->
                <div class="mdl-grid" style="width: 100%;">
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                        <a href="" ng-click="transitionTo('user.group.main')" style="text-decoration: none;">
                            <md-button>
                                Group
                            </md-button>
                        </a>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                        <a href="" ng-click="transitionTo('user.group.calendar')" style="text-decoration: none;">
                            <md-button>
                                Meetings
                            </md-button>
                        </a>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                        <a ui-sref=".files" style="text-decoration: none;">
                            <md-button>
                                Files
                            </md-button>
                        </a>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                        <a ui-sref=".chat" style="text-decoration: none;">
                            <md-button>
                                Chat
                            </md-button>
                        </a>
                    </div>
                </div>
                <md-divider></md-divider>
                <!-- Group content -->
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>