<div class="box" ng-if="file.original">
 <!--   <md-tooltip md-direction="bottom">
        {{file.name}}
    </md-tooltip>-->
    <img ng-src="{{url}}"
         ng-if="isImage(file.name)"
         ng-click="!disabled && viewImage(file,$event)">
    <div ng-if="file.original && !isImage(file.name)">
        <a ng-href="{{file.original}}" target="_self"
           download="{{file.name}}"
           ng-if="!disabled">
            <i class="material-icons">insert_drive_file</i>
            {{file.name}}
            <md-tooltip md-direction="bottom">
                {{file.name}}
            </md-tooltip>
        </a>
        <a href=""
           ng-if="disabled">
            <i class="material-icons">insert_drive_file</i>
            {{file.name}}
            <md-tooltip md-direction="bottom">
                {{file.name}}
            </md-tooltip>
        </a>
    </div>
</div>

