<style>
    .box {
        width: 100%;
        height: auto;
        min-width: 100px;
        vertical-align: middle;
        text-align: center;
    }

    .box img {
        width: 100%;
        margin: auto;
    }

    .box a {
        width: 90%;
        font-size: 12px;
        min-width: 100px;
        height: 60px;
        line-height: 30px;
        display: inline-block;
        text-overflow: ellipsis;
        vertical-align: middle;
        overflow: hidden;
        margin: 2px;
    }

    .box a i {
        vertical-align: middle;
        display: block;
        text-decoration: none;
    }
</style>
<div class="box" ng-if="file.url">
    <img ng-src="{{url}}"
         ng-if="isImage(file.name)"
         ng-click="!disabled && viewImage(file,$event)"/>
    <div ng-if="file.url && !isImage(file.name)">
        <a ng-href="{{file.url}}" target="_self"
           ng-if="!disabled">
            <i class="material-icons">insert_drive_file</i>
            {{file.name}}
            <md-tooltip md-direction="bottom">
                {{file.name}}
            </md-tooltip>
        </a>
        <a ng-if="disabled">
            <i class="material-icons">insert_drive_file</i>
            {{file.name}}
        </a>
    </div>
</div>

