<div class="upload-file-box">

    <file-box file="file"
              ng-if="file.original"
              size="{{size}}">
    </file-box>

    <md-button class="upload md-fab md-mini md-primary"
               ng-click="upload($event)"
               ng-model="uploadFile">
        <md-icon style="color:white">file_upload</md-icon>
    </md-button>

    <md-icon class="delete" ng-click="delete(file)" style="color: #ef6c00;"
             ng-if="file.original">cancel
        <md-tooltip md-direction="right">
            Delete
        </md-tooltip>
    </md-icon>

    <div class="file-box drop-box-min"
         ng-if="!file.original">
        <div class="text">{{whiteSpaceText}}</div>
    </div>

</div>